{% extends 'layout.html' %}
{% block title %}Stickers list{% endblock %}
{% block content %}
	<h1>Stickers list</h1>
	<nav>
		<a 
			href="{{ url_for('stickers_admin.create_sticker') }}" 
			title="Create sticker">
			Create sticker
		</a>
	</nav>
	{% from 'stickers.jinja' import sticker_category_display, sticker_image %}
	{% macro render_result(result) %}
		<tr>
			<td>
				<a 
					href="{{ url_for(
						'stickers_admin.stickers_list',
						sort=pagination['sort'],
						order=pagination['order'],
						perpage=pagination['perpage'],
						id=result.id,
					) }}" 
					title="View sticker in list">
					○
				</a>
			</td>
			<td>
				<a 
					href="{{ url_for(
						'stickers_admin.edit_sticker',
						sticker_id=result.id,
					) }}" 
					title="Edit sticker">
					{{ sticker_image(result) }}
				</a>
			</td>
			<td data-timestamp="{{ result.creation_time }}">
				{{ result.creation_datetime.strftime('%Y-%m-%dT%H:%M:%S.%f%z') }}
			</td>
			<td>{{ result.name }}</td>
			<td>{{ result.display }}</td>
			<td>
				<a href="{{ url_for(
						'stickers_admin.stickers_list',
						sort=pagination['sort'],
						order=pagination['order'],
						perpage=pagination['perpage'],
						category=result.category,
					) }}" 
					title="Search stickers in this category">
					(Search)
				</a> 
				{{ sticker_category_display(result.category) }}
			</td>
			<td>{{ result.category_order }}</td>
			<td>
				<a href="{{ url_for(
						'stickers_admin.collected_stickers_list',
						sticker_id=result.id,
					) }}" 
					title="Search collections for this sticker">
					{{ result.total_collected }}
				</a>
			</td>
			<td>
				<a href="{{ url_for(
						'stickers_admin.sticker_placements_list',
						sticker_id=result.id,
					) }}" 
					title="Search placements for this sticker">
					{{ result.total_placed }}
				</a>
			</td>
			<td>
				<a 
					href="{{ url_for(
						'stickers_admin.remove_sticker',
						sticker_id=result.id,
						redirect_uri=request.url,
					) }}" 
					title="Remove this sticker">
					Remove
				</a>
			</td>
		</tr>
	{% endmacro %}
	{% set category_options = {'': 'Any'} %}
	{% for category in unique_categories %}
		{% set _temp = category_options.update({category: sticker_category_display(category)}) %}
	{% endfor %}
	{% set columns = [
		{
			'name': 'id',
			'label': 'ID',
			'sortable': False,
			'searchable': True,
			'type': 'text',
		},
		{
			'name': 'sticker',
			'label': 'Edit',
			'sortable': False,
			'searchable': False,
		},
		{
			'name': 'creation_time',
			'label': 'Created',
			'sortable': True,
			'searchable': True,
			'type': 'amount',
			'less_than_name': 'created_before',
			'less_than_label': 'Created before',
			'less_than_placeholder': 'Datetime string',
			'greater_than_name': 'created_after',
			'greater_than_label': 'Created after',
			'greater_than_placeholder': 'Datetime string',
		},
		{
			'name': 'name',
			'label': 'Name',
			'sortable': False,
			'searchable': True,
			'type': 'text',
		},
		{
			'name': 'display',
			'label': 'Display',
			'sortable': False,
			'searchable': True,
			'type': 'text',
		},
		{
			'name': 'category',
			'label': 'Category',
			'sortable': True,
			'searchable': True,
			'type': 'select',
			'options': category_options,
		},
		{
			'name': 'category_order',
			'label': 'Order',
			'sortable': False,
			'searchable': False,
		},
		{
			'name': 'collected',
			'label': 'Collected',
			'sortable': False,
			'searchable': False,
		},
		{
			'name': 'placed',
			'label': 'Placed',
			'sortable': False,
			'searchable': False,
		},
		{
			'name': 'remove',
			'label': 'Remove',
			'sortable': False,
			'searchable': False,
		},
	] %}
	{% from 'tabular_list.jinja' import tabular_list %}
	{{ tabular_list(
		columns,
		'stickers_admin.stickers_list',
		results,
		total_results,
		render_result,
		total_pages,
		pagination,
		search,
	) }}
{% endblock %}
